#add-date-button {
  margin: 10px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  font-size: 1em;
}

#add-date-button:hover {
  transform: scale(1.1);
}

#date-list {
  width: fit-content;
}

.date-item {
  border: 1px solid #ffffff;
  height: 40px;
  position: relative;
}

.date-date {
  width: fit-content;
  float: left;
  line-height: 40px;
  padding: 0 10px 0 10px;
}

.date-remove-button {
  border: none;
  background: none;
  float: right;
  line-height: 40px;
}

.date-remove-button:hover {
  transform: scale(1.2);
}

.date-remove-button:focus {
  transform: scale(1.5);
}

.date-remove {
  color: #ffffff;
}
