#add-date-button {
  margin: 10px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  font-size: 1em;
}

#add-date-button:hover {
  transform: scale(1.1);
}

#add-date-button:active {
  transform: scale(1);
}

#alt-name {
  width: 200px;
}
