.jazz-day::after {
  content: 'Jazz';
  font-size: 10px;
  font-weight: 600;
  display: block;
}

.chamber-day::after {
  content: 'Chamber';
  font-size: 10px;
  font-weight: 600;
  display: block;
}
